/* .app {
	width: 80%;
	margin: 0 auto 0 auto;
} */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield;
}
